
.collapse.navbar-collapse ul .nav-item .navbar-text
,.collapse.navbar-collapse ul .nav-item .nav-link, span
,div ul li a {
    color: white;
}

.collapse.navbar-collapse ul .nav-item .navbar-text
,.collapse.navbar-collapse ul .nav-item .nav-link,
.navbar-brand:hover, div ul li a:hover {
    color: cyan;
}

div h4 a:link {
    color: darkcyan;
}



